.main_container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  background-color: var(--bg-color);
  height: 90vh;
}

.right_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(60, 60, 60, 0.3);
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.left_container {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}


.radio_buttons {
  display: flex;
  flex-direction: row;
}

.radio_buttons > label:first-child {
  border-radius: 20px 0 0 20px;
}

.radio_buttons > label:last-child {
  border-radius: 0 20px 20px 0;
}

.radio_buttons > label {
  padding: 15px 20px;
  background-color: rgba(255, 136, 0, 0.1);
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgba(255, 136, 0, 1);
}



.radio_buttons > label > input {
  display: none;
}

.radio_buttons > label:has(input:checked) {
  background-color: rgba(255, 136, 0, 1);
  color: white;
}




.history_content {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.history_item {
  width: 90%;
  padding: 18px 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.history_item_title {
  font-size: 1.08rem;
  font-weight: 600;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.title_win {
  color: var(--secondary);
}

.title_lose {
  color: var(--red-400);
}


.mmr_win {
  color: var(--secondary);
}

.mmr_lose {
  color: var(--red-400);
}

.current_mmr {
  width: 100%;
  text-align: center;
  font-size: 1.12rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}