.rank_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.rank_container table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
}

.rank_container table thead {
  background-color: var(--bg-color-secondary);
  color: var(--txt-color);
}

.rank_container table thead th {
  padding: 10px 15px;
  text-align: center;
}

.rank_container table tbody tr:nth-child(2n) {
  background-color: var(--bg-color-secondary);
  color: var(--txt-color);
}

.rank_container table tbody tr:nth-child(2n + 1) {
  background-color: #424242;
  color: var(--txt-color);
}


.rank_container table tbody tr td {
  padding: 10px 40px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.content .separator {
  width: 1px;
  height: 70vh;
  background-color: grey;
}

.all_ranks img {
  width: 200px;
}

.all_ranks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}

.all_ranks > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content tbody img {
  width: 50px;
}

.leaderboard_buttons {
  background-color: var(--bg-color-secondary);
  display: flex;
  flex-direction: row;
  padding: 20px;
}