@import url("variables.css");

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Medium.ttf")  format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

#bottom_nav_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #2b2b2b, #3a3a3a);
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 30px 30px 0 0;
}

#bottom_nav_bar a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    transition: all 0.3s;
}

#bottom_nav_bar a:hover {
    border-radius: 30px;
}

#bottom_nav_bar a:nth-child(1):hover {
    background-color: var(--primary-light-400);
}

#bottom_nav_bar a:nth-child(2):hover {
    background-color: var(--secondary-light-500);
}

#bottom_nav_bar a:nth-child(3):hover {
    background-color: var(--blue-300);
}

#bottom_nav_bar a:nth-child(4):hover {
    background-color: #5f5f5f;
}

#bottom_nav_bar a img {
    width: 10vw;
    max-height: 50%;
    filter: invert(100%);
}