@import url("variables.css");

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Medium.ttf")  format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

/* NAV BAR */
#bottom_nav_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #2b2b2b, #3a3a3a);
    position: fixed;
    bottom: 0;
    width: 100%;
    /*border-radius: 2vw 2vw 0 0;*/
}

/* MENUS de la nav bar*/
#bottom_nav_bar a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    transition: background-color 0.2s ease-out;
    border-radius: 2vw;
    -webkit-tap-highlight-color: transparent;
}

/* LOGOS des menus */
#bottom_nav_bar a img {
    width: 100%;
    max-height: 50%;
    filter: invert(100%);
}

/* Le deuxième effet permet de remettre la couleur blanche sur l'icone lorsque il est survolé
peu importe la page sur laquelle on est affet d'eviter d'avoir du jaune sur jaun par exemple
On est pas obligé de spécifier la page puisque si on applique un 'invert(100%)' sur un icone
qui est déjà blanc, il ne changera pas de couleur (car il est noir à la base) */

/* Accueil : jaune */
#bottom_nav_bar a:nth-child(1):hover {
    background-color: var(--primary-light-400);
}
#bottom_nav_bar a:nth-child(1):hover img {
    filter: invert(100%) !important;
}
/* Jouer : vert */ 
#bottom_nav_bar a:nth-child(2):hover {
    background-color: var(--secondary-light-500);
}
#bottom_nav_bar a:nth-child(2):hover img {
    filter: invert(100%) !important;
}
/* TBD : bleu*/
#bottom_nav_bar a:nth-child(3):hover {
    background-color: var(--blue-300);
}
#bottom_nav_bar a:nth-child(3):hover img {
    filter: invert(100%) !important;
}
/* Paramètres : gris */
#bottom_nav_bar a:nth-child(4):hover {
    background-color: #5f5f5f;
}
#bottom_nav_bar a:nth-child(4):hover img {
    filter: invert(100%) !important;
}


#bottom_nav_bar a:focus {
    outline: none !important;
}

@media only screen and (max-device-width: 640px) {
    #bottom_nav_bar p {
        display: none;
    }

    #bottom_nav_bar >*:hover {
        background-color: transparent !important;
    }

    /* Utilisation de https://codepen.io/sosuke/pen/Pjoqqp pour convertir le hex afin de l'appliquer sur un filter */
    /*
    #bottom_nav_bar a:nth-child(1):hover img, #bottom_nav_bar a:nth-child(1):focus img {
        filter: invert(82%) sepia(27%) saturate(7392%) hue-rotate(17deg) brightness(103%) contrast(91%);
    }

    #bottom_nav_bar a:nth-child(2):hover img, #bottom_nav_bar a:nth-child(2):focus img {
        filter: invert(76%) sepia(8%) saturate(3065%) hue-rotate(41deg) brightness(89%) contrast(87%);
    }

    #bottom_nav_bar a:nth-child(3):hover img, #bottom_nav_bar a:nth-child(3):focus img {
        filter: invert(53%) sepia(50%) saturate(1509%) hue-rotate(201deg) brightness(102%) contrast(119%);
    }

    #bottom_nav_bar a:nth-child(4):hover img, #bottom_nav_bar a:nth-child(4):focus img {
        filter: invert(40%) sepia(14%) saturate(0%) hue-rotate(160deg) brightness(89%) contrast(95%);
    }
    */
}

