@import url("variables.css");

body {
    background-color: var(--bg-color);
}


.hexagon {
    /* width: calc(70px * calc(6 / 7)); */
    aspect-ratio: 6 / 7;
    height: 70px;
    background-color: rgb(85, 85, 85);
    position: relative;
    display: inline-block;
    margin: -6px 0.02em;
    margin-left: 6px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    
}
.hexagon_border {
    aspect-ratio: 6 / 7;
    height: 70px;
    display: inline-block;
    margin: -6px 0.02em;
    margin-left: 6px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    position: absolute;
    transform: scale(1.2);

    
}
.hexagon_w_border {
    background: conic-gradient(
        transparent 0deg 180deg,
        var(--blue-side) 180deg 300deg,
        transparent 300deg 360deg
      );
}
.hexagon_n_border {
    background: conic-gradient(
        var(--red-side) 0deg 60deg,
        transparent 60deg 300deg,
        var(--red-side) 300deg 360deg
      );
}
.hexagon_e_border {
    background: conic-gradient(
        var(--blue-side) 0deg 120deg,
        transparent 120deg 360deg
      );
}
.hexagon_s_border {
    background: conic-gradient(
        transparent 0deg 120deg,
        var(--red-side) 120deg 240deg,
        transparent 240deg 360deg
      );
}
.hexagon_nw_border {
    background: conic-gradient(
        var(--red-side) 0deg 60deg,
        transparent 60deg 180deg,
        var(--blue-side) 180deg 300deg,
        var(--red-side) 300deg 360deg
      );
}
.hexagon_ne_border {
    background: conic-gradient(
        var(--red-side) 0deg 30deg,
        var(--blue-side) 30deg 120deg,
        transparent 120deg 300deg,
        var(--red-side) 300deg 360deg
      );
}
.hexagon_se_border {
    background: conic-gradient(
        var(--blue-side) 0deg 120deg,
        var(--red-side) 120deg 240deg,
        transparent 240deg 360deg
      );
}
.hexagon_sw_border {
    background: conic-gradient(
        transparent 0deg 120deg,
        var(--red-side) 120deg 210deg,
        var(--blue-side) 210deg 300deg,
        transparent 300deg 360deg
      );
}

.spacer {
    width: calc(70px * calc(6 / 14) + 3px);
    height: 0px;
    opacity: 0%;
    position: relative;
    display: inline-block;
}
.hexagon-grid {
    white-space: nowrap;
    position: absolute;
}
.hexagon-row {
    white-space: nowrap;
}
.noselect {
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
  
.hexagon:hover {
    background-color: rgb(54, 54, 54);
}

.blue:hover {
    background-color: var(--blue-side);
}

.wall {
    background-color: rgb(20, 20, 20);
}

.blue {
    background-color: var(--blue-side);
}

.red {
    background-color: var(--red-side);
}

.red:hover {
    background-color: var(--red-side);
}

@media screen and (max-width: 768px) {
    #hexagon-grid {
        transform: scale(0.5);
    }
}


#game_interface {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#game_interface h3 {
    color: var(--txt-color);
    font-size: 2em;
}

#game_interface #player1 h3 {
    color: var(--blue-side);
}

#game_interface #player2 h3 {
    color: var(--red-side);
}

#game_interface #hex_parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

#game_interface #hex_parent > * {
    margin: 1vh 0;
}