@import url("variables.css");

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
}


.hexagon {
    /* width: calc(70px * calc(6 / 7)); */
    aspect-ratio: 6 / 7;
    height: 70px;
    background-color: rgb(85, 85, 85);
    position: relative;
    display: inline-block;
    margin: -6px 0.02em;
    margin-left: 6px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    
}
.hexagon_border {
    aspect-ratio: 6 / 7;
    height: 70px;
    display: inline-block;
    margin: -6px 0.02em;
    margin-left: 6px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    position: absolute;
    transform: scale(1.5);

    
}
.hexagon_w_border {
    background: conic-gradient(
        transparent 0deg 180deg,
        var(--red-side-secondary) 180deg 300deg,
        transparent 300deg 360deg
      );
}
.hexagon_n_border {
    background: conic-gradient(
        var(--blue-side-secondary) 0deg 60deg,
        transparent 60deg 300deg,
        var(--blue-side-secondary) 300deg 360deg
      );
}
.hexagon_e_border {
    background: conic-gradient(
        var(--red-side-secondary) 0deg 120deg,
        transparent 120deg 360deg
      );
}
.hexagon_s_border {
    background: conic-gradient(
        transparent 0deg 120deg,
        var(--blue-side-secondary) 120deg 240deg,
        transparent 240deg 360deg
      );
}
.hexagon_nw_border {
    background: conic-gradient(
        var(--blue-side-secondary) 0deg 60deg,
        transparent 60deg 180deg,
        var(--red-side-secondary) 180deg 300deg,
        var(--blue-side-secondary) 300deg 360deg
      );
}
.hexagon_ne_border {
    background: conic-gradient(
        var(--blue-side-secondary) 0deg 30deg,
        var(--red-side-secondary) 30deg 120deg,
        transparent 120deg 300deg,
        var(--blue-side-secondary) 300deg 360deg
      );
}
.hexagon_se_border {
    background: conic-gradient(
        var(--red-side-secondary) 0deg 120deg,
        var(--blue-side-secondary) 120deg 240deg,
        transparent 240deg 360deg
      );
}
.hexagon_sw_border {
    background: conic-gradient(
        transparent 0deg 120deg,
        var(--blue-side-secondary) 120deg 210deg,
        var(--red-side-secondary) 210deg 300deg,
        transparent 300deg 360deg
      );
}

.spacer {
    width: calc(70px * calc(6 / 14) + 3px);
    height: 0px;
    opacity: 0%;
    position: relative;
    display: inline-block;
}
.hexagon-grid {
    white-space: nowrap;
    position: absolute;
}
.hexagon-row {
    white-space: nowrap;
}
.noselect {
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
  
#game_interface {
    display: grid;
    height: 90vh;
    grid-template-columns: 4fr 2fr;
}

#game_interface h3 {
    color: var(--txt-color);
    font-size: 2em;
}

#game_interface #player1 h3 {
    color: var(--red-side);
}

#game_interface #player2 h3 {
    color: var(--blue-side);
}

#game_interface #hex_parent {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

#game_interface #hex_parent > * {
    margin: 1vh 0;
}

#players {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(60, 60, 60, 0.3);
    max-width: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#game-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4%;
    width: 95%;
}

.player-timer {
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
    font-size: 3em;
    background-color: var(--bg-color);
    color: gray;

}

.player-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

#player1-name {
    color: var(--red-side);
}

#player2-name {
    color: var(--blue-side);
}

.players_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.players_title > * {
    margin: 0 2%;
    text-wrap: nowrap;
}

.players_title > div {
    width: 2vh;
    height: 2vh;
    background-color: grey;
    border-radius: 50%;
}

#victory_screen {
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#victory_screen button {
    background-color: var(--primary-accent-400);
    color: white;
    border: none;
    height: auto;
    border-radius: 2vw;
    width: 90%;
    padding: 2vh;
    font-size: 1rem;
    margin: 2vh;
    cursor: pointer;
}

#victory_screen button:hover {
    background-color: var(--primary-accent-500) !important;
}





@media screen and (max-width: 1175px) {
    #game_interface {
        display: flex;
        flex-direction: column !important;
        margin-bottom: 200px;
        justify-content: center;
    }
    #players {
        max-width: 1775px;
    }




}
.hexagon:hover {
    background-color: rgb(54, 54, 54);
}

.blue:hover {
    background-color: var(--blue-side);
}

.wall {
    background-color: rgb(20, 20, 20);
}

.blue {
    background-color: var(--blue-side);
}

.red {
    background-color: var(--red-side);
}

.red:hover {
    background-color: var(--red-side);
}

.active-timer {
    color: lightgray;
}
