@import url("variables.css");

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Medium.ttf')  format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    background-color: var(--bg-color);
    color: var(--txt-color);
}

#home_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10% 10% 10%;
}



#home_content h1 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin: 2rem 0;
}

#home_content #rules {
    background-image: linear-gradient(to bottom, var(--bg-color-secondary) 0%, rgba(255, 212, 0, 0.05) 100%);
    padding: 4vh;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


#home_content p {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    margin: 2rem 0;
}

#home_content ul {
    list-style-type: disc;
}
#home_content li {
    margin: 1rem;
}

#home_content #buttons {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

#home_content #buttons button {
    background-color: var(--primary-accent-400);
    color: white;
    border: none;
    width: 30%;
    height: auto;
    border-radius: 2vw;
    padding: 2vh;
    font-size: 1rem;
    margin: 2vh;
    cursor: pointer;
}

#home_content button:hover {
    background-color: var(--primary-accent-500) !important;
}


#home_content img {
    width: 15rem;
    height: 15rem;
}

a {
    color: rgb(57, 57, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(231, 42, 42);
    text-decoration: underline;
}

#logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logos img {
    transition: transform 0.3s;
}

#logos img:hover {
    transform: scale(1.05);
}