@import url("variables.css");

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Medium.ttf')  format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    background-color: var(--bg-color);
    color: var(--txt-color);
}

#settings_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#settings_content > * {
    margin: 1vh;
}



form > div {
    margin:  0;
}

form > div > * {
    margin: 5% 0;
}

form hr {
    width: 100%;
    margin: 5% 0;
    border: 1px solid var(--txt-color);

}

input[type="text"] {
    width: 100%;
    padding: 1vh;
    border: 1px solid var(--txt-color);
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: 1em;
}

input[type="submit"] {
    background-color: var(--primary-accent-400);
    color: white;
    border: none;
    width: 100%;
    height: auto;
    border-radius: 2vw;
    padding: 2vh;
    font-size: 1rem;
    margin: 2vh 0;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--primary-accent-500) !important;
}

input[type="radio"] {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #ddd;
    border-radius: 50%;
    border: 2px solid var(--txt-color);
    transition: all 0.3s ease;
}

input[type="radio"]:checked {
    background-color: var(--primary-accent-400);
}


hr {
    width: 100%;
    filter: opacity(0.2);
    margin: 5% 0;
    border: 1px solid var(--txt-color);
}

