.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.container .custom_alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 20px 40px;
  background-color: var(--bg-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container .custom_alert > span {
  font-size: 8rem;
  font-weight: 500;
  color: var(--text-color);
}

.container p {
  margin: 1rem !important;
}

.container .t1 {
  font-size: 3rem;
}